<html>

<header class=" " role="banner">

<div id="masthead-container">
<div class="container">
<div class="masthead-row">
<div id="masthead-main">
<div id="masthead-logo">
<a href="http://www.theolympian.com/" target="_top"><img src="http://www.theolympian.com/static/images/theolympian/logo-lg.png" alt="The Olympian | TheOlympian.com" class="img-responsive center-block"></a>
</div>
<div id="quick-nav" class="hidden-xs">
<ul id="menu">
<li>
<a href="/news/#navlink=navbar">News</a>
</li>
<li>
<a href="/opinion/#navlink=navbar">
Opinion
</a>
</li>
<li>
<a href="/sports/#navlink=navbar">
Sports
</a>
</li>
<li>
<a href="/entertainment/#navlink=navbar">
Entertainment
</a>
</li>
</ul>
<div id="site-search-lg" class="visible-lg">
<form action="/search/" class="form-inline" id="site-search" role="search">
<input type="text" name="q" class="form-control">
<button class="input-group-addon" type="submit"><span class="glyphicon glyphicon-search"></span></button>
</form>
</div>
<div id="search-icon-sm-md" class="site-search dropdown visible-md visible-sm">
<a href="#" class="btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="#"><span class="glyphicon glyphicon-search"></span></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
<li class="input-group">
<form action="/search/" class="form-inline" id="site-search" role="search">
<input type="text" name="q" class="form-control" placeholder="Search the site">
<button class="input-group-addon" type="submit"><span class="glyphicon glyphicon-search"></span></button>
</form>
</li>
</ul>
</div>
</div>
</div>

<div id="main-nav-container">
<div class="weather-container hidden-xs">
<div class="miWeather">
<a href="/weather">
<div class="miWeatherCurrent">
<div class="mi-weather-alert"></div>
<div class="mi-weather-conditions"><img src="http://www.theolympian.com/static/images/widgets/weather/2020/7.png" alt="Cloudy">
<div class="mi-weather-conditions-temp">42°
</div></div>
</div>
</a>
</div>
</div>
<div id="login-subscribe" class="hidden-xs">
<ul class=" paywall-links">
<li>
<a href="/plus">
Login
</a>
</li>
<li>
<a href="http://www.theolympian.com/customer-service/subscription/special-offers/#navlink=navbar">
Subscribe
</a>
</li>
</ul>
</div>
<div id="main-nav">
<nav class="navbar navbar-default " role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"><span class="nav-label hidden-xs">Full Menu</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div id="navbar-collapse-1" class="navbar-collapse in">
<div id="search-icon-xs" class="site-search dropdown visible-xs">
<a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="#"><span class="glyphicon glyphicon-search"></span></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
<li class="input-group">
<form action="/search/" class="form-inline" id="site-search" role="search">
<input type="text" name="q" class="form-control" placeholder="Search the site">
<button class="input-group-addon" type="submit"><span class="glyphicon glyphicon-search"></span></button>
</form>
</li>
</ul>
</div>
<div class="weather-container visible-xs">
<div class="miWeather">
<a href="/weather">
<div class="miWeatherCurrent">
<div class="mi-weather-alert"></div>
<div class="mi-weather-conditions"><img src="http://www.theolympian.com/static/images/widgets/weather/2020/7.png" alt="Cloudy">
<div class="mi-weather-conditions-temp">42°
</div></div>
</div>
</a>
</div>
</div>
<ul class=" paywall-links">
<li>
<a href="/plus">
Login
</a>
</li>
<li>
<a href="http://www.theolympian.com/customer-service/subscription/special-offers/#navlink=navbar">
Subscribe
</a>
</li>
</ul>
<ul id="menu">
<li>
<a href="/#navlink=subnav">
Home
</a>
</li>
<li class="dropdown">
<a href="/customer-service/#navlink=subnav" ><span class="glyphicon glyphicon-chevron-left"></span>Customer Service <span class="glyphicon glyphicon-chevron-right"></span></a>
<ul>
<li><a href="/customer-service/#navlink=subnav">Customer Service</a></li>
<li><a href="/customer-service/about-us/#navlink=subnav">About Us</a></li>
<li><a href="http://theolympian.mycapture.com/mycapture/photoRequestForm.asp#navlink=subnav">Buy Photos and Pages</a></li>
<li><a href="/customer-service/contact-us/#navlink=subnav">Contact Us</a></li>
<li><a href="/plus/#navlink=subnav">Plus</a></li>
<li><a href="/customer-service/e-edition/#navlink=subnav">E-Edition</a></li>
<li><a href="/customer-service/newsletter-signup/#navlink=subnav">Newsletters</a></li>
<li><a href="http://www.southsoundnie.com/#navlink=subnav">Newspaper in Education</a></li>
<li><a href="/plus/#navlink=subnav">Subscribe</a></li>
<li><a href="/customer-service/#navlink=subnav">Subscriber Services</a></li>
</ul>
</li>
<li class="nav-divider"> </li>
<li class="dropdown">
<a href="/news/#navlink=subnav"><span class="glyphicon glyphicon-chevron-left"></span>News <span class="glyphicon glyphicon-chevron-right"></span></a>
<ul class="dropdown-menu" style="padding-top: 0px; min-height: 718px;">
<li><a href="/news/#navlink=subnav">News</a></li>
<li><a href="/news/business/#navlink=subnav">Business</a></li>
<li><a href="/news/local/crime/#navlink=subnav">Crime</a></li>
<li><a href="/news/databases/#navlink=subnav">Databases</a></li>
<li><a href="/news/local/obituaries/#navlink=subnav">Death Notices</a></li>
<li><a href="/news/local/education/#navlink=subnav">Education</a></li>
<li><a href="/news/local/#navlink=subnav">Local News</a></li>
<li><a href="/news/local/military/#navlink=subnav">Military News</a></li>
<li><a href="http://www.legacy.com/obituaries/theolympian/#navlink=subnav">Obituaries</a></li>
<li><a href="/news/local/politics-government/#navlink=subnav">Politics &amp; Government</a></li>
<li><a href="/news/state/#navlink=subnav">State</a></li>
<li><a href="/news/local/traffic/#navlink=subnav">Traffic</a></li>
<li><a href="/news/local/watchdog#navlink=subnav">Watchdog</a></li>
<li><a href="/weather#navlink=subnav">Weather</a></li>
</ul>
</li>
<li class="dropdown">
<a href="/opinion/#navlink=subnav" ><span class="glyphicon glyphicon-chevron-left"></span>Opinion <span class="glyphicon glyphicon-chevron-right"></span></a>
<ul class="dropdown-menu" style="padding-top: 0px; min-height: 718px;">
<li><a href="/opinion/#navlink=subnav">Opinion</a></li>
<li><a href="/opinion/editorial-cartoons/#navlink=subnav">Cartoons</a></li>
<li><a href="/opinion/editorials/#navlink=subnav">Editorials</a></li>
<li><a href="/opinion/letters-to-the-editor/#navlink=subnav">Letters to the Editor</a></li>
<li><a href="/opinion/opn-columns-blogs/#navlink=subnav">Opinion Columns</a></li>
<li><a href="/opinion/letters-to-the-editor/submit-letter/#navlink=subnav">Submit a Letter</a></li>
</ul>
</li>
<li class="dropdown">
<a href="/sports/#navlink=subnav" ><span class="glyphicon glyphicon-chevron-left"></span>Sports <span class="glyphicon glyphicon-chevron-right"></span><a>
<ul class="dropdown-menu" style="padding-top: 0px; min-height: 718px;">
<li><a href="/sports/#navlink=subnav">Sports</a></li>
<li><a href="/sports/college/#navlink=subnav">College</a></li>
<li><a href="/sports/high-school/#navlink=subnav">High School</a></li>
<li><a href="http://preps.thenewstribune.com/#navlink=subnav">Preps Stats</a></li>
<li><a href="/sports/mlb/seattle-mariners/#navlink=subnav">Mariners</a></li>
<li><a href="/sports/nfl/seattle-seahawks/#navlink=subnav">Seahawks</a></li>
<li><a href="/sports/soccer/mls/sounders-fc/#navlink=subnav">Sounders</a></li>
<li><a href="/sports/college/pac-12/university-of-washington/#navlink=subnav">UW Huskies</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" ><span class="glyphicon glyphicon-chevron-left"></span>Politics <span class="glyphicon glyphicon-chevron-right"></span></a>
<ul class="dropdown-menu" style="padding-top: 200px; min-height: 718px;">
<li><a href="/news/politics-government/#navlink=subnav">Politics</a></li>
<li><a href="/news/politics-government/election/#navlink=subnav">Elections 2016</a></li>
</ul>
</li>
<li class="dropdown">
<a href="/living/#navlink=subnav" ><span class="glyphicon glyphicon-chevron-left"></span>Living <span class="glyphicon glyphicon-chevron-right"></span></a>
<ul class="dropdown-menu" style="padding-top: 240px; min-height: 718px;">
<li><a href="/living/#navlink=subnav">Living</a></li>
<li><a href="/living/announcements-celebrations/#navlink=subnav">Announcements</a></li>
<li><a href="/living/food-drink/#navlink=subnav">Food</a></li>
<li><a href="/living/health-fitness/#navlink=subnav">Health &amp; Fitness</a></li>
<li><a href="/living/home-garden/#navlink=subnav">Home &amp; Garden</a></li>
<li><a href="/living/travel/#navlink=subnav">Travel</a></li>
</ul>
</li>
<li class="dropdown">
<a href="/entertainment/#navlink=subnav" ><span class="glyphicon glyphicon-chevron-left"></span>Entertainment <span class="glyphicon glyphicon-chevron-right"></span></a>
<ul class="dropdown-menu" style="padding-top: 0px; min-height: 718px;">
<li><a href="/entertainment/#navlink=subnav">Entertainment</a></li>
<li><a href="/entertainment/arts-culture/#navlink=subnav">Arts &amp; Culture</a></li>
<li><a href="/entertainment/comics/#navlink=subnav">Comics</a></li>
<li><a href="http://calendar.theolympian.com/#navlink=subnav">Events Calendar</a></li>
<li><a href="/entertainment/horoscopes/#navlink=subnav">Horoscopes</a></li>
<li><a href="/entertainment/movies-news-reviews/#navlink=subnav">Movies</a></li>
<li><a href="/entertainment/games-puzzles#navlink=subnav">Puzzles &amp; Games</a></li>
<li><a href="/entertainment/restaurants/#navlink=subnav">Restaurants</a></li>
</ul>
</li>
<li class="dropdown">
<a href="/outdoors/#navlink=subnav" ><span class="glyphicon glyphicon-chevron-left"></span>Outdoors <span class="glyphicon glyphicon-chevron-right"></span></a>
<ul class="dropdown-menu" style="padding-top: 320px; min-height: 718px;">
<li><a href="/outdoors/#navlink=subnav">Outdoors</a></li>
<li><a href="/outdoors/hunting-fishing/#navlink=subnav">Fishing</a></li>
</ul>
</li>
<li class="nav-divider"> </li>
<li>
<a href="http://findnsave.theolympian.com/#navlink=navbar">
Local Deals
</a>
</li>
<li>
<a href="/classified-ads/#navlink=subnav">
Classifieds
</a>
</li>
<li>
<a href="/jobs/#navlink=subnav">
Jobs
</a>
</li>
<li>
<a href="http://www.startmoonlighting.com/mni/Olympian/?utm_source=Olympian&amp;utm_medium=navweblink&amp;utm_campaign=MNI#navlink=subnav">
Moonlighting
</a>
</li>
<li>
<a href="/cars/#navlink=subnav">
Cars
</a>
</li>
<li>
<a href="/homes/#navlink=subnav">
Homes
</a>
</li>
<li>
<a href="http://www.apartments.com/Washington/Olympia#navlink=subnav">
Rentals
</a>
</li>
<li>
<a href="http://olympian.adperfect.com/#navlink=navbar">
Place An Ad
</a>
</li>
</ul>
</div>
</nav>
</div>
</div>
</div>
</div>

</header>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
<link href="http://www.theolympian.com/static/theme/theolympian-2020/base/css/main-1.0.76-8613a15.css?sVer=1.0.76-8613a15" rel="stylesheet">
</head>
</html>