#header {
    width: 1350px;
    height: 100px;
	background-color: green;
    }
#img{
	width: 500px;
	height: 100px;
	
}
#menu
{
    list-style: none;
   
    background-color: green;
    padding: 14px 16px;
    margin: 0;
}
 #menu ul
{
	list-style: none;
    border: 0px solid #000;
background-color: black;

   padding: 14px 16px;
    margin: 0;
 
	
		
}
#menu li
{
    float: left;
    margin-right: 3px;
    border: green;
    position: relative;
}
#menu ul
{
    position: absolute;
    top: 25px;
    left: -1px;
    width: 100px;
    padding: 0;
    display: none;
}
#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
}
#menu a:link, #menu a:visited
{
   
font-family: Tahoma;
   
text-align: left;
   
color: white;
   
padding: 5px;
}
#menu li:hover
{
    background-color: gray;
    border: 1px solid #000;
}
#menu li:hover ul
{
    display: block;
}


