

<!-- 			
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
//	$(document).ready(function(){
		//	$("#fullmneu").click(function(){
		//		
		//		window.location.href="/viewfullmenu";				
		//	});
		
//});
 	function myfunction(){
		window.location.href="/viewfullmenu";
		
<!-- 	
//function myFunction() {
 //   var x = location.href;
   // var y=x;
//	window.location.href="/y";
//} -->
		
				
    <!-- $("a").click(function(){
      //$("div").toggle();
		
   
	//; -->

	


<!-- <a onclick="myfunction();">{item.mainmenu_name}} </a> -->
<li><a href="#" >{{item.mainmenu_name}}</a></li>
	
		

	<!-- <div id="menu">
	 <div id="showing">
<li><a href="#" >{{item.fullmenuname}}</a></li>

</div>
</div> -->
	
		 
		
		 
	